* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "HARRYP";
  src: url("../fonts/HARRYP__.TTF");
}

.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, black, #740001);
}

.title {
  color: #d3a625;
  text-align: center;
  font-size: 70px;
  font-family: "HARRYP", serif;
  padding: 15px;
  text-shadow: 4px 4px #00155b;
}

.copyright {
  font-family: "Cinzel", serif;
  font-size: 6px;
  color: #cccccc;
  margin: 15px;
}

.new_character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3a625;
  margin: 15px;
  padding: 15px;
}

.character_title {
  color: #d3a625;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  font-family: "Cinzel", serif;
}

.character {
  width: 150px;
  text-align: center;
  font-size: 12px;
  font-family: "Cinzel", serif;
  background-color: #cccccc;
  color: #00155b;
  font-weight: 600;
  border: 2px solid #d3a625;
}

.homeTitle {
  color: #d3a625;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  font-family: "Cinzel", serif;
}

.form_home_text {
  width: 150px;
  text-align: center;
  font-size: 12px;
  font-family: "Cinzel", serif;
  background-color: #cccccc;
  color: #00155b;
  font-weight: 600;
  border: 2px solid #d3a625;
  cursor: pointer;
}

.list_characters {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0 15px;
  align-items: center;
}

.items_li {
  list-style-type: none;
}

.card_img {
  position: relative;
  width: 100px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #d3a625;
  transition: linear 2s color;
  cursor: pointer;
}
.card_img:hover {
  border: 4px solid #00155b;
}

.name_Character {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 9px;
}

.specie {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 8px;
}

/*CharacterDetail*/

.link {
  text-decoration: none;
}

.sectionDetails {
  background-color: #00155b;
  border: 4px solid #d3a625;
  margin: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-20px);
}

.btn_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 18px;
  font-weight: 600;
  transition: linear 2s color;
  cursor: pointer;
  text-align: center;
  margin: 15px;
  text-decoration: none;
  border: solid 3px #d3a625;
  background-color: #740001;
  width: 80px;
  height: 30px;
}

.back:hover {
  background-color: #033607;
}

.titleDetail {
  color: #d3a625;
  text-align: center;
  font-size: 24px;
  font-family: "Cinzel", serif;
  padding: 20px;
}

.details_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_img_detail {
  position: relative;
  width: 200px;
  height: 270px;
  object-fit: cover;
  border: 4px solid #d3a625;
}
.name_CharacterDetail {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 16px;
  margin: 5px;
}

.specie_detail {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 14px;
  margin: 3px;
}

.gender_detail {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 14px;
  margin: 3px;
}

.alive_detail {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 14px;
  margin: 3px;
}

.birth_detail {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 14px;
  margin: 3px;
}

.house_detail {
  font-family: "Cinzel", serif;
  color: #d3a625;
  font-size: 14px;
  margin: 3px;
}

.btn_reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete {
  font-family: "Cinzel", serif;
  font-size: 14px;
  background-color: #00155b;
  color: #d3a625;
  margin: 10px;
  padding: 3px;
  font-weight: 600;
}

@media all and (min-width: 768px) {
  .new_character {
    padding: 20px;
  }
  .character_title {
    font-size: 18px;
  }
  .character {
    font-size: 14px;
  }
  .homeTitle {
    font-size: 18px;
  }
  .form_home_text {
    font-size: 14px;
  }
  .delete {
    font-size: 18px;
  }
  .list_characters {
    margin: 25px 25px 0 25px;
    padding: 15px;
  }
  .back {
    font-size: 18px;
  }
  .sectionDetails {
    height: 100vh;
  }
  .specie {
    font-size: 9px;
  }
}

@media all and (min-width: 1200px) {
  .copyright {
    font-size: 9px;
  }
  .title {
    font-size: 90px;
  }
  .character_title {
    font-size: 22px;
  }
  .character {
    font-size: 18px;
    width: 280px;
  }
  .homeTitle {
    font-size: 22px;
  }
  .form_home_text {
    font-size: 18px;
    width: 280px;
  }
  .delete {
    font-size: 20px;
  }
  .card_img {
    width: 180px;
    height: 280px;
  }
  .name_Character {
    font-size: 15px;
  }
  .specie {
    font-size: 15px;
  }
}
